{% extends 'base.html' %}

{% block title %}{{ category_pair.title }}{% endblock %}
{% block name %}<div class="category-name">All {{ category_pair.title }} Report</div>{% endblock %}

{% block container %}
    <div class="category">
        {% if category_match is "BOM" %}
            {{category_pair.slug}}
        {% endif %}
        {% for cat in category_pair.post_model.all %}
            <a href="{% url 'detail_bom_url' cat.slug cat.id%}">
                <div class="category-detail" id="bom">
                    <div class="title">{{ cat.title }} Report</div>
                    <div class="date">Updated on {{ cat.date_added|date:"Y.m.d" }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}