{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block name %}<div class="home-name">Welcome To Cost Data Center</div>{% endblock %}

{% block sidebar %}
{% endblock %}


{% block container %}
<div class="home-container">
    <a href="{% url 'category_bom_url' 'bom-comparison'%}" class="home-menu1">
        <div class="home-menu">
            <div class="home-image">
                <img src="https://img.icons8.com/wired/64/null/compare.png"/>
            </div>
            <div class="home-text">
                <h3>BOM Comparion</h3>
            </div>
        </div>
    </a>
    <a href="{% url 'category_cost_url' 'cost-review'%}" class="home-menu2">
        <div class="home-menu">
            <div class="home-image">
                <img src="https://img.icons8.com/ios/50/null/combo-chart--v1.png"/>
            </div>
            <div class="home-text">
                <h3>Cost Review</h3>
            </div>
        </div>
    </a>
    <a href="#" class="home-menu3"> 
        <div class="home-menu">
            <div class="home-image">
                <img src="https://img.icons8.com/wired/64/null/low-price.png"/>
            </div>
            <div class="home-text">
                <h3>VI Activity</h3>
            </div>
        </div>
    </a>
</div>
{% endblock%}


